body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #e9f7f5;
  color: #333;
}

h1, h2 {
  color: #628c85;
}

a {
  color: #0a9396;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
